*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
    url(../assets/a511.png) no-repeat;
    background-size: cover;
    
}

ul{
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
}

ul li {                
    box-sizing: border-box;
    padding: 20px;
    text-align: center;    
    border-radius: 100px;
    width: 400px;
    -webkit-box-shadow: 39px 36px 50px 16px rgba(0,0,0,0.75);
    -moz-box-shadow: 39px 36px 50px 16px rgba(0,0,0,0.75);
    box-shadow: 39px 36px 50px 16px rgba(0,0,0,0.75);
    background: linear-gradient(to right, pink, green);
    border: 10px olive solid;    
}

li:nth-child(1){
    font-family: 'Staatliches', cursive, sans-serif;
    font-style: italic;
}
li:nth-child(2n){
    font-family: 'Hanalei', cursive, sans-serif;
    font-weight: bold;
    color: blueviolet;
}
li:nth-child(3n){
    font-family: 'Hanalei', cursive, sans-serif;
    font-weight: bold;
    color: blue;
}

.left li:nth-of-type(even){
    background: linear-gradient(to right, blue, red);    
}

.right li:nth-of-type(odd){
    background: linear-gradient(to right, blue, red);    
}

li:hover::after{        
    content: "THIS LOOKS BLOODY AWFUL (￣▽￣)";
    color: black;
}



