*{
    margin: 0;    
    box-sizing: border-box;
}

// Fonts
$robotFont: 'Roboto', sans-serif;
// Colors
$golden-rod: #eef4c3;
$khaki: #f8dc6e;
$coral: #f3825e;
$sienna: #9f3c56;
$darkSlateGray: #523159;
$darkSeaGreen: #92a093;
$darkKhaki: #b09b51;
$indianRed: #e07557;
$darkSlateGray-Light: #362344;
$bisque: #fcdacf;
// Sizes
$extendHeight: 30rem;
$fullHeight: 15rem;
$contractedHeight: 5rem;


@mixin animate($start, $end){    
    
    @if ($start == $fullHeight && $end == $extendHeight){
        animation: extend 0.5s forwards linear;    
    } 
    @else if($start == $contractedHeight && $end == $extendHeight) {
        animation: extendFromContract 0.5s forwards linear;    
    } 
    @else if($start == $fullHeight && $end == $contractedHeight) {
        animation: contract 0.5s forwards linear;    
    }
    @else if($start == $extendHeight && $end == $contractedHeight) {
        animation: contractFromExtend 0.5s forwards linear;    
    }
}

.extend{
    animation: extend 0.5s forwards linear;    
}
.extendFromContract{
    animation: extendFromContract 0.5s forwards linear;    
}
.contract{
    animation: contract 0.5s forwards linear;    
}
.contractFromExtend{
    animation: contractFromExtend 0.5s forwards linear;    
}

@keyframes extend{
    0%{
        height: $fullHeight;
    }
    100%{
        height: $extendHeight;
    }
}

@keyframes extendFromContract{
    0%{
        height: $contractedHeight;
    }
    100%{
        height: $extendHeight;
    }
}
@keyframes contract{
    0%{
        height: $fullHeight;
    }
    100%{
        height: $contractedHeight;
    }
}

@keyframes contractFromExtend{
    0%{
        height: $extendHeight;
    }
    100%{
        height: $contractedHeight;
    }
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $darkSeaGreen;
}

.container {
    padding: 1rem;
    width: 95%;        
}

.segment__nav {
    width: 100%;
    background: $golden-rod;
    color: $darkKhaki;    
    border-radius: 1rem 1rem 0 0;
    height: 12rem;    
    font-family: $robotFont;
    font-size: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;    

    &-content{
        display: flex;     
        align-items: flex-end; 
        padding: 2rem 0rem 0rem 3rem;  
    }

    &-burger{
        margin-right: 1.5rem;
    }
    
    &-menu-link{
        text-decoration: none;
        color: $darkKhaki;
    }
    
    &-items{
        padding: 0rem 0rem 2rem 3rem; 
    }
}



.segment__one {
    background: $khaki;
    color: $coral;
    height: $fullHeight;
    @extend %segment;
}
.segment__two {
    background: coral;
    color: $sienna;
    height: $fullHeight;
    @extend %segment;
}
.segment__three {
    background: $sienna;
    color: $darkSlateGray;
    height: $fullHeight;
    @extend %segment;
}
.segment__bottom {
    background: $darkSlateGray;
    color: $darkSlateGray-Light;
    border-radius: 0 0 1rem 1rem;
    height: $fullHeight;
    @extend %segment;
}

%segment {
    font-family: $robotFont;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;       
    #example1 {
        box-shadow: 5px 10px;
    }
}