:root {
        /* Light Goldenrod Yellow */
        --Goldenrod: #eef4c3;
        /* Khaki */
        --Khaki: #f8dc6e;
        /* Coral */
        --Coral: #f3825e;
        /* Sienna */
        --Sienna: #9f3c56;
        /* Dark Slate Gray - Dark */
        --DarkSlateGray: #523159;
        /* Dark Sea Green */
        --DarkSeaGreen: #92a093;
        /* Dark Khaki */
        --DarkKhaki: #b09b51;
        /* Indian Red */
        --IndianRed: #e07557;
        /* darkSlateGray-light */
        --DarkSlateGray-Light: #362344;
        /* bisque */
        --Bisque: #fcdacf;   
}