    @import '/css/global.css';
    @import '/css/variables.css';
    
    *{
        margin: none;
        box-sizing: border-box;
    }

    /* Nav Card */

    .container {
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header {
        display: flex;
        justify-content: center;
    }
    .header__title {
        font-family: Pacifico;
    }
    .pattern {
        box-shadow: 2px 5px 8px #B2B5BA;
        margin: 1rem 0;
        padding: 1rem;
        flex-basis: 25%;
    }

    .pattern--large{
        box-shadow: 2px 5px 8px #B2B5BA;
        margin: 1rem 0;
        padding: 1rem;
        flex-basis: 100%;
    }

    .pattern__title {
        color: #4A4A4A;
        font-size: 1rem;
    }
    .pattern__text {
        color: #4A4A4A;
    }
    .pattern__example {
        margin-top: 1rem;
        padding-top: 2rem;
        border-top: 1px solid #4A4A4A;
    }

    /* variable examples */
    
    .var-example-box{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    .var-example{
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }
    .var-example--dark-grey {
        background-color: var(--dark-grey);
    }    
    .var-example--light-grey {
        background-color: var(--light-grey);
    }    
    .var-example--pink {
        background-color: var(--pink);
    }    
    .var-example--off-white {
        background-color: var(--off-white);
    }    
    .var-example--turquoise {
        background-color: var(--turquoise);
    }    

    .var-example--nun-XL {
        font-family: var(--nun-XL);
    }    
    .var-example--nun-reg {
        font-family: var(--nun-regular);
    }    
    .var-example--nun-bold {
        font-family: var(--nun-bold);
    }    
    .var-example--pacifico {
        font-family: var(--pacifico);
    }        


    .container {
        width: 100%;
    }
  