@import '/css/global.css';
@import '/css/variables.css';

.nav{    
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;  
    margin: 0 2.5%;              
}

.nav__link {
    color: var(--dark-grey);
    text-decoration: none;
    font-family: var(--nun-regular);
}

.nav__links{        
    display: flex;        
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5vw;           
}

.nav__logo {    
    object-fit: contain;
    width: 4.5rem;
    font-family: var(--pacifico);    
}

.nav__expand {
    justify-self: flex-start;
    object-fit: contain;
    width: 2.5rem;  
    display: none;
}

/* Medium (780px) */

@media screen and (max-width: 780px) {    
    
    .nav__link {
        display: none;
    }

    .nav__icon {
        display: none;
    }

    .nav__expand{        
        display: inline;
    }

}

/* Small (500px) */
@media screen and (max-width: 500px) {    
    

    .nav{    
        /* padding: 0.4rem; */
    }

    .nav__logo {    
        object-fit: contain;
        width: 4rem;
        font-family: var(--pacifico);    
    }

    .nav__link {
        display: none;
    }

    .nav__icon {
        display: none;
    }

    .nav__expand{
        justify-self: flex-start;
        object-fit: contain;
        width: 2rem;        
    }    
}