@import 'https://codepen.io/Rumyra/pen/xBKVqa.css';

.container {}

.box {
	height: 100px; /* This is just here so you can see the boxes */
    border: 1px solid seagreen;
    width: 100px;
    float: left;
}