*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(45deg, rgb(126, 133, 0), rgb(213, 226, 188));
    width: 100vw;
    height: 100vh;
}

.formStyle {
    width: 500px;
    margin-left: calc(50vw - 250px);
    margin-right: calc(50vw - 250px);        
    margin-top: 20vh;    
    padding: 2rem;
    padding-top: 4rem;
    background-color: beige;    
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

ul{
    list-style: none;
}

input, textarea {
    display: block;        
    width: 80%;    
    padding: 10px;    
    margin: 10px;
    margin-left: 15px;
}

label {
    display: block;
    margin-left: 15px;
    font-size: large;
}

.submitBtn {
    margin-top: 3rem;
    background-color: rgb(54, 110, 162);
    border: rgb(0, 9, 128) solid 2px;
    border-radius: 10px;
    font-family: fantasy;
    font-size: x-large;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
}

input[type="submit"]:hover {
    background-color: rgb(5, 34, 73);
    border: rgb(0, 9, 128) solid 2px;
}